html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
  background-color: rgb(184, 208, 243);
}

#btnCreate{
  background-color: rgb(238, 190, 232);
  color: black;
  overflow: hidden;
  width :80%;
  float: right;
}

#groupBtn{
  background-color: rgb(2, 16, 58);
  overflow: hidden;
  width :80%;
  float: right;
  animation: zoom 0.5s;
  /* color: rgba(11, 7, 48, 0.05) */
}

#text{
  animation: zoom 0.5s;
}

@keyframes zoom{
  from{transform: scale(0);}
  to {transform: scale(1);}
}

#user{
    position : fixed;
    background-color: rgb(130, 142, 190);
    bottom : -5%;
    right: 0px;
    width : 80%;
    height : 20%;
    animation: slideUp 1s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    
}

@keyframes slideUp{
  0%   {bottom: -20%;}
  50%  {bottom: 0px;}
  100% {bottom: -5%}
}

.container{
    position : fixed;
    left: 20%;
    width : 100%;
    height : 85%;
    background-color: rgb(184, 208, 243);
}

#chatgroup{
    position : fixed;
    height : 100%;
    left: -10%;
    width : 30%;
    background-color: #52507a;
    
    overflow: auto;
    animation: slideIn 1s;
    
}

@keyframes slideIn{
  0%   {left:-30%;}
  50%  {left: -50px;}
  100% {left: -10%}
}

#heading{
  position: fixed;
  top: 7%;
  width : 100%;
  height : 10%;
  background-color: #4558ac;
  animation: slideDown 1s;
  
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

@keyframes slideDown{
  0%   {top:-15%;}
  50%  {top: 10%;}
  100% {top: 7%}
}

#post_list{
    overflow: auto;
    position : fixed; 
    bottom : 15%;
    /* top: 15%; */
    height: 65%;
    width : 100%
}

@media (max-height: 500px){
  #post_list{
    height: 50%;
  }

  #groupIcon{
    height : 0;
    width : 0;
  }
}

@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--gray-dark);
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); /* Account for horizontal padding on navbar */
  }

  #groupBtn{
    font-size: 10px;
  }

  #btnCreate{
    font-size: 10px;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: var(--secondary);
}

.nav-underline .nav-link:hover {
  color: var(--blue);
}

.nav-underline .active {
  font-weight: 500;
  color: var(--gray-dark);
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: var(--purple); }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }
